<div class="portfolio-wrap">
    <h1 class="page-title">Fund Investments Calculator</h1>
    <div class="purchase-form-wrap">
        <form (keydown.enter)="$event.preventDefault()" action="javascript:void(0);" [formGroup]="purchaseFundGroup">
            <div class="form-row">
                <div class="col-30">
                    <mat-form-field>
                        <mat-label>Fund Name</mat-label>
                        <mat-select disableOptionCentering formControlName="fundName" required>
                            <mat-option *ngFor="let fundName of appService.fundList" [value]="fundName.key">
                                {{fundName.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="purchaseFundGroup.get('fundName').errors && purchaseFundGroup.get('fundName').errors.required">Please select a fund.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-30" *ngIf="appService.fundNavHistoryData.schemeTypes && appService.fundNavHistoryData.schemeTypes.length">
                    <mat-form-field>
                        <mat-label>Scheme Type</mat-label>
                        <mat-select disableOptionCentering formControlName="schemeType" required>
                            <mat-option *ngFor="let schemeType of appService.fundNavHistoryData.schemeTypes" [value]="schemeType.trim()" [matTooltip]="schemeType.trim()">
                                {{schemeType.trim()}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="purchaseFundGroup.get('schemeType').errors && purchaseFundGroup.get('schemeType').errors.required">Please select a scheme type.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-30" *ngIf="appService.fundNavHistoryData[purchaseFundGroup.get('schemeType').value] && appService.fundNavHistoryData[purchaseFundGroup.get('schemeType').value].schemeNames">
                    <mat-form-field>
                        <mat-label>Scheme</mat-label>
                        <mat-select disableOptionCentering formControlName="scheme" required>
                            <mat-option *ngFor="let scheme of appService.fundNavHistoryData[purchaseFundGroup.get('schemeType').value].schemeNames" [value]="scheme.key" [matTooltip]="scheme.value">
                                {{scheme.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="purchaseFundGroup.get('scheme').errors && purchaseFundGroup.get('scheme').errors.required">Please select a scheme.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-30">
                    <mat-form-field>
                        <mat-label>Purchase Date</mat-label>
                        <input type="text" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="purchaseDate" readonly required/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="purchaseFundGroup.get('amount').errors && purchaseFundGroup.get('amount').errors.required">Please select a purchase date.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-30">
                    <mat-form-field>
                        <mat-label>Amount</mat-label>
                        <input type="text" matInput formControlName="amount" numberOnly required/>
                        <mat-error *ngIf="purchaseFundGroup.get('amount').errors && purchaseFundGroup.get('amount').errors.required">Please enter a amount.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <button type="button" mat-stroked-button color="primary" (click)="purchaseFund()">Purchase</button>
                <button type="button" class="ml-20" mat-stroked-button color="primary" (click)="showHistory()" *ngIf="appService.chartData && appService.chartData.records && appService.chartData.records.length && !showHistoryChart" matTooltip="Show Chart"><mat-icon>show_chart</mat-icon></button>
            </div>
        </form>
    </div>

    <div *ngIf="appService.portfolioData && appService.portfolioData.records && appService.portfolioData.records.length">
        <div class="purchase-table-wrap">
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Fund Name</th>
                        <th>Scheme Type</th>
                        <th>Scheme Name</th>
                        <th>Purchase Date</th>
                        <th>Investment Amount</th>
                        <th>NAV on Purchase Date</th>
                        <th>Purchased Units</th>
                        <th>NAV on {{dateService.currentDate}}</th>
                        <th>Investment as on {{dateService.currentDate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of appService.portfolioData.records; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.fundName | fundName }}</td>
                        <td>{{ item.schemeType }}</td>
                        <td>{{ item.schemeName }}</td>
                        <td>{{ item.purchaseDate | date:'dd-MMM-yyyy' }}</td>
                        <td>Rs. {{ item.amount | number:'.2' }}</td>
                        <td>Rs. {{ item.purchaseNAV | number:'.2' }}</td>
                        <td>{{ item.purchasedUnits }}</td>
                        <td>Rs. {{ item.currentNAV | number:'.2' }}</td>
                        <td>
                            Rs. {{ item.investmentReturns | number:'.2' }}
                            <mat-icon class="icon-up" *ngIf="item.amount < item.investmentReturns">arrow_upward</mat-icon>
                            <mat-icon class="icon-down" *ngIf="item.amount >= item.investmentReturns">arrow_downward</mat-icon>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Rs. {{appService.portfolioData.totalPurchaseInvestment | number:'.2'}}</td>
                        <td>-</td>
                        <td>{{appService.portfolioData.totalUnits | number:'.2'}}</td>
                        <td>-</td>
                        <td>
                            Rs. {{appService.portfolioData.totalInvestmentReturns | number:'.2'}}
                            <mat-icon class="icon-up" *ngIf="appService.portfolioData.totalPurchaseInvestment < appService.portfolioData.totalInvestmentReturns">arrow_upward</mat-icon>
                            <mat-icon class="icon-down" *ngIf="appService.portfolioData.totalPurchaseInvestment >= appService.portfolioData.totalInvestmentReturns">arrow_downward</mat-icon>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <span (click)="clearPortFolio()" class="clear-data" matTooltip="Data can not be restored...">Clear Portfolio</span>
    </div>

    <div class="app-loader" *ngIf="dataLoader">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p class="loader-message">{{loaderMessage}}</p>
    </div>
</div>