.purchase-table-wrap {
    width: 100%;
    overflow: auto;
    margin: 20px 0 0;
}

.purchase-table-wrap table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.purchase-table-wrap table thead {
    background: #ccc;
}

.purchase-table-wrap table th,
.purchase-table-wrap table td {
    min-width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.purchase-table-wrap table th:first-child,
.purchase-table-wrap table td:first-child {
    min-width: 60px;
}

.purchase-table-wrap table th:last-child,
.purchase-table-wrap table td:last-child {
    min-width: 125px;
}

.purchase-table-wrap table th {
    border: 1px solid #eee;
    font-weight: 500;
    color: #673ab7;
}

.purchase-table-wrap table td {
    border: 1px solid #ccc;
}

.icon-up,
.icon-down {
    vertical-align: middle;
    font-size: 20px;
}

.icon-up {
    color: lime;
}

.icon-down {
    color: red;
}

.clear-data {
    cursor: pointer;
    font-size: 11px;
    margin: 10px;
    color: red;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .form-row {
        display: block;
    }
    .col-30 {
        width: 100%;
    }
    .purchase-table-wrap table {
        font-size: 8px;
    }
}