<div>
    <!-- <h1 class="page-title" mat-dialog-title>{{ appService.chartData?.records[0]?.name }}</h1> -->
    <mat-icon (click)="close()" class="close-icon">close</mat-icon>
</div>
<div class="clearfix" mat-dialog-content>
    <div>
        <p class="text-center p-10 clearfix">Filter <em class="small-text">*minimum one month</em></p>

        <form (keydown.enter)="$event.preventDefault()" action="javascript:void(0);" [formGroup]="filterChartGroup">
            <div class="form-row">
                <div class="col-30">
                    <mat-form-field>
                        <mat-label>From Date</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" formControlName="fromDate" readonly/>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-30">
                    <mat-form-field>
                        <mat-label>To Date</mat-label>
                        <input matInput [min]="toMinDate" [max]="toMaxDate" [matDatepicker]="picker2" formControlName="toDate" readonly/>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-30">
                    <button mat-stroked-button color="primary" [disabled]="!isFilterEnable" (click)="filerData(false)" matTooltip="Filter"><mat-icon>filter_list</mat-icon></button>
                    <button class="ml-20" mat-stroked-button color="primary" *ngIf="isFilterEnable" (click)="clearFilter()" matTooltip="Reset Filter"><mat-icon>clear</mat-icon></button>
                </div>
            </div>
        </form>

        <div class="chart-wrap">
            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="results">
            </ngx-charts-line-chart>
        </div>
    </div>
</div>