<nav class="mat-elevation-z5">
    <ul>
        <li><a [routerLink]="['/portfolio']" routerLinkActive="active">PortFolio</a></li>
        <!-- <li><a [routerLink]="['/fund-nav-history']" routerLinkActive="active">Funds NAV History</a></li> -->
    </ul>
</nav>