* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style: none;
    padding: 10px 0;
    background-color: #bbb;
}

li {
    display: inline-block;
    padding: 0 10px;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover,
li a.active {
    color: #673ab7;
}

.clearfix {
    clear: both;
    overflow: auto;
}

.app-loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.loader-message {
    text-align: center;
    position: relative;
    top: 50%;
    color: #fff;
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.p-10 {
    padding: 10px;
}

.ml-20 {
    margin-left: 20px !important;
}

.app-container {
    margin: 20px 20px 0;
}

.page-title {
    color: #673ab7;
    font-weight: 500;
    text-align: center;
}

.small-text {
    font-size: 11px;
    vertical-align: super;
}

.message-wrap {
    width: 50vh !important;
    margin: 5px auto !important;
}

.success,
.error {
    background: #28a745;
    color: #fff;
}

.error {
    background: #dc3545;
}

.form-row {
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
}

.col-30 {
    display: inline-block;
    width: 30%;
    padding: 0 10px;
    box-sizing: border-box;
}

.col-30 .mat-form-field {
    width: 100%;
}

.history-dialog-container .mat-dialog-container {
    overflow: hidden;
}

.history-dialog-container .ngx-charts-outer {
    margin: 0 auto;
}